.welcomeContainer {
  align-items: center;
  margin-top: 10;
  margin-bottom: 20;
  flex: 1;
  justify-content: center;
}

.welcomeImage {
  width: 100;
  height: 80;
  object-fit: contain;
  margin-top: 3;
  margin-left: -10;
}

.scroll {
    background-color: #c8e0e4;
    padding: 30;
    flex-direction: column,
}

.optionBar {
    flex-direction: row;
    align-items: center;
    justify-content: 'space-around';
    padding-bottom: 10;
    flex: 1
}

.searchModes {
    flex-direction: row;
}

.textInput {
    height: 40;
    font-size: 20;
    flex: 1;
    background-color: #FFF;
}

.sectionHeader {
    padding-top: 2;
    padding-left: 10;
    padding-right: 10;
    padding-bottom: 2;
    font-size: 14;
    font-weight: bold;
    background-color: #cce5ff;
}

.span {
  margin: 2;
}

.searchResults {
  background-color: #e0eeef;
}

.sectionText {
  font-weight: bold;
  font-size: 14;
}

.lineItem {
  text-align: right;
}